.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Time {
  font-size: 50vmin;
}

.Set {
  font-size: 6vmin;
}

.Active {
  background-color: green;
}
